

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #e6e6e6;
  line-height: 1.6;
  background-color: #172229;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 60px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #e6e6e6;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}

.big { font-size: 2.5em; }
h2 { font-size: 1.75em; }
.small { font-size: 1.25em; }

/* Paragraph */
p {
  margin-bottom: 1em;
  font-weight: 300;
}

section {
  margin-bottom: 2.5em;
}

/* Links */
a {
  color: #e4e4e4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



figure.vega-embed {
  border: 2px solid #e6e6e631;
  border-radius: 8px;
  padding: 12px;
  margin: 16px auto;
  max-width: 80%;

  display: grid;
  justify-items: center;
  align-items: center;
}

figure.vega-embed > .chart-wrapper {
  margin: 0 auto !important;
  display: block;
}

figure.vega-embed canvas {
  display: block;
  margin: 0 auto !important;
}
